
.b{
  background-color: #d9ecf2
}
.img{
   border-radius: 50%;
   height: 150px;

   display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(50%);
}
.title{
  text-decoration: underline;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  color: #f0a500
}
.title2{
  text-decoration: underline;
  font-family: "Freestyle Script", Courier, monospace;
  text-align: center;
  color: #f0a500;
  font-size: 30px;
  height: 75PX;
}
.para{
  font-family: "Forte";
  text-align: center;
  color: #0f4c75;
  font-size: 25px;

}
.img2{

  height: 400px;
  width: 300px;
}
.img3{
  display: block;
  margin-left:300px;
  margin-right: auto;
  height: 400px;
  width: 300px;
}
.img4{
  display: block;
  margin-left:600px;
  margin-right: auto;
  height: 400px;
  width: 300px;

}
*{
  box-sizing: border-box;
}
.column{
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
